.comparsion-checkbox {
    margin-right: 10px;
  }

  .box-comparsion-checkbox {
    display: flex;
    margin-top: 70px;
  }

  .content-checkbox {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #0D5ADC;
    /* white */
  }