.box-img {
    z-index: 1;
    position: relative;
}

.img-item-left-pannel {
    z-index: -10;
    position: absolute;
    right: calc(50% - 50px);
    bottom: -100px;
}

.img-item {
    z-index: 0;
    transform: translateZ(200px);
    position: static;
    height: 120px;
    width: auto;
    margin-bottom: 10px;
}


.name-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #3B4157;

    margin-bottom: 50px;
}

.loader {
    position: absolute;
    left: calc(50% - 15px);
    top:  calc(50% - 15px);
    --b: 10px;  /* border thickness */
    --n: 10;    /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: red;   /* the color */

    width: 30px; /* size */
    aspect-ratio: 1;
    margin: auto;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000,var(--c)) content-box;
    --_m: /* we use +/-1deg between colors to avoid jagged edges */
      repeating-conic-gradient(#0000 0deg,
         #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
         #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
      radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
  }
  @keyframes load {to{transform: rotate(1turn)}}

  @media (max-width: 700px) {
    .img-item-left-pannel {
        right: calc(50% - 45px);
    }
}