
.chip-group-box {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  .chip-group-topic {
      margin-left: 10%;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.02em;

      color: #828286;
    }

    .chip-group-placegolder {
        display: flex;
        margin: 20px 5px;
      }

    .chip {
      margin: 20px 5px;
      font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 60px;
        color: #0D5ADC;
    }

    .chip :hover {
      cursor: pointer;
    }

    .box-chip {
      display: flex;
      justify-content: end;
      margin: 0 10%;
    }

    @media (max-width: 700px) {

      .chip-group-box {
          flex-direction: column;
          text-align: center;
      }

      .chip-group-topic {
        margin: auto;
      }
    }
