.box-list {
    display: flex;
    padding: 10px;
    align-items: center;
    padding-top: 20px;
}

.ico-change-item {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.img-items {
    height: 50px;
    width: auto;
    margin: 0 20px;
    margin-bottom: 10px;
}

.name-items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.loaders {
    position: absolute;
    left: calc(50% - 15px);
    top:  calc(50% - 15px);
    --b: 10px;  /* border thickness */
    --n: 10;    /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: red;   /* the color */

    width: 30px; /* size */
    aspect-ratio: 1;
    margin: auto;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000,var(--c)) content-box;
    --_m: /* we use +/-1deg between colors to avoid jagged edges */
      repeating-conic-gradient(#0000 0deg,
         #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
         #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
      radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: loads 1s infinite steps(var(--n));
  }
  @keyframes loads {to{transform: rotate(1turn)}}



  @media (max-width: 700px) {
    .box-list {
        width: 140px;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 4px;
        padding-top: 20px;
    }

    .img-items {
        height: 50px;
        width: auto;
        margin: 0 20px;
    }

    .ico-change-item {
        width: 20px;
        height: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .name-items {
        flex-wrap: 1;
    }

    .name-items {
        font-size: 18px;
        line-height: 18px;
    }
  }